
.metadata/
.jxbrowser.userdata/
RemoteSystemsTempFiles/
dvt/
**/Debug/
**/Release/
*.log
.settings/
Project_CSS/msp430_app/.ccsproject
Project_CSS/msp430_app/.ccsproject
Project_CSS/msp430_app/.cproject
Project_CSS/msp430_app/targetConfigs/MSP430G2553.ccxml
